.login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0)
    ),
    url("https://images.unsplash.com/photo-1542435503-956c469947f6?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8NXx8YmxvZ3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60");
  background-size: cover;
}

.loginForm {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid black;
}

.loginForm > label {
  margin: 10px 0px;
}

.loginForm > input {
  padding: 7px;
  border: none;
  border-bottom: 1px solid #444;
  background-color: transparent;
}

.formInput:focus {
  outline: none;
}

.loginBtn {
  margin: 20px 0px;
  background-color: teal;
  color: white;
  padding: 5px;
  border: none;
  border-radius: 12px;
  cursor: pointer;
}
